#newList {
  width: 60%;
  margin: 20% auto;

  .button {
    width: 100%;
    font-size: 80%;
  }
}

.lists {
  padding: 5%;
  padding-bottom: 55px;
}

#addItem {
  margin: 0 auto 5% auto;

  input[type=text] {
    border: 1px solid rgb(186,186,186);
    padding: 5px;
    font-size: inherit;
    @include border-radius(3px);
    width: 80%;
  }
}

.list {
  ul.items {
    margin-bottom: 20px;

    li {
      cursor: pointer;
      margin-bottom: 5px;

      form {
        width: 20%;
        float: right;
      }
    }
  }

  .no-data {
    color: rgb(229,229,229);
  }
}